<div class="page">
  <div class="top">
    <div class="intro">
      <div class="header-text">BLACK ON FOXTROTS</div>
    </div>
    <div class="card">
      <div class="card_title fancy">Seize the Weekend Blue Falcons!!!</div>
      <div class="card_text">
        "We are a blog for and by the citizen soldiers of the Oregon Army National Guard as a source of humor and satire on the goings on of our force."
      </div>
    </div>
  </div>
</div>

{{#link-to 'contact'}}Contact Us{{/link-to}}
