<div class="page">
  <div class="text">If you have questions, concerns, or would like to contribute to our site, please contact us!</div>
    <a href="mailto:krause197@gmail.com" class="pill-cta filled">krause197@gmail.com</a>
  </div>

{{#link-to 'about'}}Click Here to See About Us{{/link-to}}
